

#tabuleiro-xadrez {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tabuleiro {
  border: 3px solid #000;
  width: 100vmin;
  height: 100vmin;
}

.fileira div {
  font-size: 10vmin;
  float: left;
  width: 12.5vmin;
  height: 12.5vmin;
  border-left: solid #000;
  border-bottom: solid #000;
  text-align: center;
  box-sizing: border-box;
}
.line-1 div:nth-child(2n+1) {
  background: #000;
  color: #FFF
}

.line-2 div:nth-child(2n) {
  background: #000;
  color: #FFF
}
  
